#topo {
    border:1px solid #EDEDDC;
    font-size:14px;
    color:#000000;
    background-color: aquamarine;
}


#topo ul {
    text-align: center;
    margin:0;padding:10; 
    border-bottom:1px solid #007ce9;
}

#topo ul:last-child {
    border-bottom:none;
}

#topo ul:nth-child(odd) {
    background:#cdc99b;   
}
#topo li {
    width: 150px;
    list-style:none;
    display:inline-block;
    
}
#topo li:nth-child(1) {
    padding:15px 5px;
}

#topo li:nth-child(2) {
    padding:5px 2px;
}   